<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>	
	<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>
	<!-- Flatpickr -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	
	<title>お気に入り一覧</title>
</head>

<body>
	<div class="samuraitravel-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>	

		<main>
			<div class="container samuraitravel-container pb-5">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item active" aria-current="page">お気に入り一覧</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<h1 class="mb-3 text-center">お気に入り一覧</h1> 
			<div class="row justify-content-md-center g-6 mb-3" th:each="favoritesPage : ${favoritesPage}">
				<div class="col-6">
					<a th:href="@{/houses/__${favoritesPage.getId()}__}" class="link-dark samuraitravel-card-link">
						<div class="card h-100">
							<div class="row">
								<div class="col-md-4">
									<img th:if="${favoritesPage.house.getImageName()}"
										th:src="@{/storage/__${favoritesPage.house.getImageName()}__}"
										class="card-img-top samuraitravel-vertical-card-image" alt="店舗画像">
									<img th:unless="${favoritesPage.house.getImageName()}"
										th:src="@{/images/noImage.png}"
										class="card-img-top samuraitravel-vertical-card-image" alt="NO IMAGE">
								</div>
								<div class="col-md-5">
									<div class="card-body">
										<h3 class="card-title" th:text="${favoritesPage.house.getName()}"></h3>
										<hr style="border: 1px solid #000; margin: 0;"> 
										<p class="card-text mb-1">
											<small class="text-muted" th:text="${favoritesPage.house.getDescription()}"></small>
											<small class="text-muted" th:text="${favoritesPage.house.getPostalCode()}"></small>
											<small class="text-muted" th:text="${favoritesPage.house.getAddress()}"></small>
										</p>
										<p class="card-text">
											<span th:text="${#numbers.formatInteger(favoritesPage.house.getPrice(), 1, 'COMMA') + '円/泊'}"></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<!--ページネーション-->
			<div th:if="${favoritesPage.getTotalPages() > 1}" class="d-flex justify-content-center">
				<nav aria-label="お気に入り一覧ページ">
					<ul class="pagination">
						<li class="page-item">
							<span th:if="${favoritesPage.isFirst()}" class="page-link disabled">前</span>
							<a th:unless="${favoritesPage.isFirst()}"
								th:href="@{/favorites(page = ${favoritesPage.getNumber() - 1})}"
								class="page-link samuraitravel-page-link">前</a>
						</li>
						<li th:each="i : ${#numbers.sequence(0, favoritesPage.getTotalPages() - 1)}" class="page-item">
							<span th:if="${i == favoritesPage.getNumber()}"
								class="page-link active samuraitravel-active" th:text="${i + 1}"></span>
							<a th:unless="${i == favoritesPage.getNumber()}" th:href="@{/favorites(page = ${i})}"
								class="page-link samuraitravel-page-link" th:text="${i + 1}"></a>
						</li>
						<li class="page-item">
							<span th:if="${favoritesPage.isLast()}" class="page-link disabled">次</span>
							<a th:unless="${favoritesPage.isLast()}"
								th:href="@{/favorites(page = ${favoritesPage.getNumber() + 1})}"
								class="page-link samuraitravel-page-link">次</a>
						</li>
					</ul>
				</nav>
			</div>
		</main>

		<!--フッター-->
		<div th:replace="~{fragment::footer}"></div>
	</div>

	<script th:src="@{/js/preview.js}"></script>
</body>

</html>